In [1]:
# Dependencies #Lau
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Import file
gdp = 'GitHub_Lau/Resources/API_NY.GDP.DEFL.KD.ZG_DS2_es_csv_v2_4342839.csv'
gdp_df = pd.read_csv(gdp, skiprows=3)

In [3]:
# Check the DF
gdp_df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,"Inflación, índice de deflación del PIB (% anual)",NY.GDP.DEFL.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.986755,2.335109,2.531592,-1.389713,-1.753935,2.263271,5.568805,-2.902756,NaN,NaN
1,NaN,AFE,"Inflación, índice de deflación del PIB (% anual)",NY.GDP.DEFL.KD.ZG,NaN,1.861701,0.979878,3.150053,3.726978,3.569951,...,5.844111,5.560736,5.366462,6.400900,5.217431,4.085751,4.387341,4.995507,5.840394,NaN
2,Afganistán,AFG,"Inflación, índice de deflación del PIB (% anual)",NY.GDP.DEFL.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.822785,0.566945,2.447563,-2.197526,2.403656,2.071349,6.521480,7.821667,NaN,NaN

In [4]:
# Transposing year columns to column Year
gdp_df = gdp_df.melt(id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                    var_name='Year', value_name="Inflation, GDP deflation rate (annual %)")

In [5]:
#Dropping unecessary columns
gdp_df_c = gdp_df.drop(['Indicator Name', 'Indicator Code'], axis=1)
gdp_df_c.head(3)

  Country Name Country Code  Year  Inflation, GDP deflation rate (annual %)
0        Aruba          ABW  1960                                       NaN
1          NaN          AFE  1960                                       NaN
2   Afganistán          AFG  1960                                       NaN

In [6]:
#Filtering data from 1970 to 2020
gdp_df_c = gdp_df_c[(gdp_df_c['Year'] >= '1970') & (gdp_df_c['Year'] <= '2020')]

In [7]:
gdp_df_c = gdp_df_c.astype({'Year': 'int64'})
gdp_df_c.dtypes

Country Name                                 object
Country Code                                 object
Year                                          int64
Inflation, GDP deflation rate (annual %)    float64
dtype: object

In [8]:
# List of entity names with missing Code
missing_country_nm = gdp_df_c[gdp_df_c['Country Name'].isna()]
#missing_country_nm
list_missing = missing_country_nm['Country Code'].unique().tolist()
list_missing
# AFE and AFW will be dropped since it is a cluster of countries and we are using only countries
# AFE = Africa Eastern and Southern
# AFW = Africa Western and Central

['AFE', 'AFW']

In [9]:
# Removing rows with null in Country Name that represent AFE and AFW
gdp_df_c = gdp_df_c.dropna(subset=['Country Name'])
gdp_df_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13464 entries, 2660 to 16225
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Country Name                              13464 non-null  object
 1   Country Code                              13464 non-null  object
 2   Year                                      13464 non-null  int64
 3   Inflation, GDP deflation rate (annual %)  10887 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 525.9+ KB

In [10]:
gdp_df_c.head(3)

     Country Name Country Code  Year  Inflation, GDP deflation rate (annual %)
2660        Aruba          ABW  1970                                       NaN
2662   Afganistán          AFG  1970                                       NaN
2664       Angola          AGO  1970                                       NaN

In [11]:
#gdp_df_c.to_csv('gdp.csv')