In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
#File name into variable
nat_disasters= '../resources/natural-disasters.csv'

In [3]:
# Reading csv to DF
nat_disasters_df = pd.read_csv(nat_disasters)

In [4]:
# Viewing data frame
nat_disasters_df.head(3)

,Number of deaths from drought,Number of people injured from drought,Number of people affected from drought,Number of people left homeless from drought,Number of total people affected by drought,Reconstruction costs from drought,Insured damages against drought,Total economic damages from drought,Death rates from drought,Injury rates from drought,...,Total economic damages from extreme temperatures as a share of GDP,Total economic damages from floods as a share of GDP,Total economic damages from landslides as a share of GDP,Total economic damages from mass movements as a share of GDP,Total economic damages from storms as a share of GDP,Total economic damages from volcanic activity as a share of GDP,Total economic damages from volcanic activity as a share of GDP.1,Entity,Year,total_damages_pct_gdp_glacial_lake
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,1954,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,1956,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Afghanistan,1963,NaN

In [5]:
# Shape of DF
nat_disasters_df.shape

(5569, 169)

In [6]:
# Filter data for Year between 1970 and 2020
nat_disasters_df_c = nat_disasters_df[(nat_disasters_df['Year'] >= 1970) & (nat_disasters_df['Year'] <= 2020)]

In [7]:
#Checking shape after year filter
nat_disasters_df_c.shape

(4540, 169)

In [8]:
# Check if Total economic damages from volcanic activity as a share of GDP and Total economic damages from volcanic activity as a share of GDP.1 are equal
nat_disasters_df['Total economic damages from volcanic activity as a share of GDP'].equals(nat_disasters_df['Total economic damages from volcanic activity as a share of GDP.1'])

False

In [9]:
# Statistics of GDP column
nat_disasters_df['Total economic damages from volcanic activity as a share of GDP'].describe()

count    228.000000
mean       0.061460
std        0.313755
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000862
max        2.865788
Name: Total economic damages from volcanic activity as a share of GDP, dtype: float64

In [10]:
# Statistics of GDP.1 column
nat_disasters_df['Total economic damages from volcanic activity as a share of GDP.1'].describe()

count    377.000000
mean       0.486609
std        6.719902
min        0.000000
25%        0.000000
50%        0.000000
75%        0.014476
max      127.277641
Name: Total economic damages from volcanic activity as a share of GDP.1, dtype: float64

In [11]:
#Viewing the column names to create columns to summarize
nat_disasters_df_c.columns.tolist()

['Number of deaths from drought',
 'Number of people injured from drought',
 'Number of people affected from drought',
 'Number of people left homeless from drought',
 'Number of total people affected by drought',
 'Reconstruction costs from drought',
 'Insured damages against drought',
 'Total economic damages from drought',
 'Death rates from drought',
 'Injury rates from drought',
 'Number of people affected by drought per 100,000',
 'Homelessness rate from drought',
 'Total number of people affected by drought per 100,000',
 'Number of deaths from earthquakes',
 'Number of people injured from earthquakes',
 'Number of people affected by earthquakes',
 'Number of people left homeless from earthquakes',
 'Number of total people affected by earthquakes',
 'Reconstruction costs from earthquakes',
 'Insured damages against earthquakes',
 'Total economic damages from earthquakes',
 'Death rates from earthquakes',
 'Injury rates from earthquakes',
 'Number of people affected by earthquakes per 100,000',
 'Homelessness rate from earthquakes',
 'Total number of people affected by earthquakes per 100,000',
 'Number of deaths from disasters',
 'Number of people injured from disasters',
 'Number of people affected by disasters',
 'Number of people left homeless from disasters',
 'Number of total people affected by disasters',
 'Reconstruction costs from disasters',
 'Insured damages against disasters',
 'Total economic damages from disasters',
 'Death rates from disasters',
 'Injury rates from disasters',
 'Number of people affected by disasters per 100,000',
 'Homelessness rate from disasters',
 'Total number of people affected by disasters per 100,000',
 'Number of deaths from volcanic activity',
 'Number of people injured from volcanic activity',
 'Number of people affected by volcanic activity',
 'Number of people left homeless from volcanic activity',
 'Number of total people affected by volcanic activity',
 'Reconstruction costs from volcanic activity',
 'Insured damages against volcanic activity',
 'Total economic damages from volcanic activity',
 'Death rates from volcanic activity',
 'Injury rates from volcanic activity',
 'Number of people affected by volcanic activity per 100,000',
 'Homelessness rate from volcanic activity',
 'Total number of people affected by volcanic activity per 100,000',
 'Number of deaths from floods',
 'Number of people injured from floods',
 'Number of people affected by floods',
 'Number of people left homeless from floods',
 'Number of total people affected by floods',
 'Reconstruction costs from floods',
 'Insured damages against floods',
 'Total economic damages from floods',
 'Death rates from floods',
 'Injury rates from floods',
 'Number of people affected by floods per 100,000',
 'Homelessness rate from floods',
 'Total number of people affected by floods per 100,000',
 'Number of deaths from mass movements',
 'Number of people injured from mass movements',
 'Number of people affected by mass movements',
 'Number of people left homeless from mass movements',
 'Number of total people affected by mass movements',
 'Reconstruction costs from mass movements',
 'Insured damages against mass movements',
 'Total economic damages from mass movements',
 'Death rates from mass movements',
 'Injury rates from mass movements',
 'Number of people affected by mass movements per 100,000',
 'Homelessness rate from mass movements',
 'Total number of people affected by mass movements per 100,000',
 'Number of deaths from storms',
 'Number of people injured from storms',
 'Number of people affected by storms',
 'Number of people left homeless from storms',
 'Number of total people affected by storms',
 'Reconstruction costs from storms',
 'Insured damages against storms',
 'Total economic damages from storms',
 'Death rates from storms',
 'Injury rates from storms',
 'Number of people affected by storms per 100,000',
 'Homelessness rate from storms',
 'Total number of people affected by storms per 100,000',
 'Number of deaths from landslides',
 'Number of people injured from landslides',
 'Number of people affected by landslides',
 'Number of people left homeless from landslides',
 'Number of total people affected by landslides',
 'Reconstruction costs from landslides',
 'Insured damages against landslides',
 'Total economic damages from landslides',
 'Death rates from landslides',
 'Injury rates from landslides',
 'Number of people affected by landslides per 100,000',
 'Homelessness rate from landslides',
 'Total number of people affected by landslides per 100,000',
 'Number of deaths from fog',
 'Number of people injured from fog',
 'Number of people affected by fog',
 'Number of people left homeless from fog',
 'Number of total people affected by fog',
 'Reconstruction costs from fog',
 'Insured damages against fog',
 'Total economic damages from fog',
 'Death rates from fog',
 'Injury rates from fog',
 'Number of people affected by fog per 100,000',
 'Homelessness rate from fog',
 'Total number of people affected by fog per 100,000',
 'Number of deaths from wildfires',
 'Number of people injured from wildfires',
 'Number of people affected by wildfires',
 'Number of people left homeless from wildfires',
 'Number of total people affected by wildfires',
 'Reconstruction costs from wildfires',
 'Insured damages against wildfires',
 'Total economic damages from wildfires',
 'Death rates from wildfires',
 'Injury rates from wildfires',
 'Number of people affected by wildfires per 100,000',
 'Homelessness rate from wildfires',
 'Total number of people affected by wildfires per 100,000',
 'Number of deaths from extreme temperatures',
 'Number of people injured from extreme temperatures',
 'Number of people affected by extreme temperatures',
 'Number of people left homeless from extreme temperatures',
 'Number of total people affected by extreme temperatures',
 'Reconstruction costs from extreme temperatures',
 'Insured damages against extreme temperatures',
 'Total economic damages from extreme temperatures',
 'Death rates from extreme temperatures',
 'Injury rates from extreme temperatures',
 'Number of people affected by extreme temperatures per 100,000',
 'Homelessness rate from extreme temperatures',
 'Total number of people affected by extreme temperatures per 100,000',
 'Number of deaths from glacial lake outbursts',
 'Number of people injured from glacial lake outbursts',
 'Number of people affected by glacial lake outbursts',
 'Number of people left homeless from glacial lake outbursts',
 'Number of total people affected by glacial lake outbursts',
 'Reconstruction costs from glacial lake outbursts',
 'Insured damages against glacial lake outbursts',
 'Total economic damages from glacial lake outbursts',
 'Death rates from glacial lake outbursts',
 'Injury rates from glacial lake outbursts',
 'Number of people affected by glacial lake outbursts per 100,000',
 'Homelessness rate from glacial lake outbursts',
 'Total number of people affected by glacial lake outbursts per 100,000',
 'Total economic damages from disasters as a share of GDP',
 'Total economic damages from drought as a share of GDP',
 'Total economic damages from earthquakes as a share of GDP',
 'Total economic damages from extreme temperatures as a share of GDP',
 'Total economic damages from floods as a share of GDP',
 'Total economic damages from landslides as a share of GDP',
 'Total economic damages from mass movements as a share of GDP',
 'Total economic damages from storms as a share of GDP',
 'Total economic damages from volcanic activity as a share of GDP',
 'Total economic damages from volcanic activity as a share of GDP.1',
 'Entity',
 'Year',
 'total_damages_pct_gdp_glacial_lake']

In [12]:
nat_disasters_df_c
nat_disasters_df_c = nat_disasters_df_c.rename(columns= {'total_damages_pct_gdp_glacial_lake': 'Total Damages percent GDP glacial lake outbursts'})

In [13]:
nat_disasters_df_t = nat_disasters_df_c.melt(id_vars=['Entity', 'Year'],
                    var_name='Type', value_name="Data")
nat_disasters_df_t.head(3)

        Entity  Year                           Type  Data
0  Afghanistan  1971  Number of deaths from drought   0.0
1  Afghanistan  1972  Number of deaths from drought   NaN
2  Afghanistan  1976  Number of deaths from drought   NaN

In [14]:
# Map Type with summary column
values= ['disasters', 'drought', 'earthquakes', 'extreme temperatures', 'floods', 'fog', 'glacial lake outbursts', 'landslide', 'mass movements', 'storms', 'volcanic', 'wildfires']
conditions = list(map(nat_disasters_df_t['Type'].str.contains, values))
nat_disasters_df_t['Natural Disaster'] = np.select(conditions, values, 'other')

In [15]:
# Map Type with Type_summary column
values= ['Death rates', 'Homelessness rate', 'Injury rates', 'Insured damages', 'Number of deaths', 'Number of people affected', 'Total number of people affected by drought per 100,000','Total number of people affected by earthquakes per 100,000','Total number of people affected by disasters per 100,000','Total number of people affected by volcanic activity per 100,000','Total number of people affected by floods per 100,000','Total number of people affected by mass movements per 100,000','Total number of people affected by storms per 100,000','Total number of people affected by landslides per 100,000','Total number of people affected by fog per 100,000','Total number of people affected by wildfires per 100,000','Total number of people affected by extreme temperatures per 100,000','Total number of people affected by glacial lake outbursts per 100,000','Total Damages percent GDP'
, 'Number of people injured', 'Number of people left homeless', 'Number of total people affected', 'Reconstruction costs', 'Total economic damages', 'Total economic damages as a share of GDP', 'Total economic damages as a share of GDP.1', 'Total number of people affected per 100000'
]
conditions = list(map(nat_disasters_df_t['Type'].str.contains, values))
nat_disasters_df_t['Type Summary'] = np.select(conditions, values, 'other')

In [16]:
nat_disasters_df_t.head(3)

,Entity,Year,Type,Data,Natural Disaster,Type Summary
0,Afghanistan,1971,Number of deaths from drought,0.0,drought,Number of deaths
1,Afghanistan,1972,Number of deaths from drought,NaN,drought,Number of deaths
2,Afghanistan,1976,Number of deaths from drought,NaN,drought,Number of deaths

In [17]:
# Validate if there are 'other' in new column Natural Disaster
nat_disasters_df_t['Natural Disaster'].unique()

array(['drought', 'earthquakes', 'disasters', 'volcanic', 'floods',
       'mass movements', 'storms', 'landslide', 'fog', 'wildfires',
       'extreme temperatures', 'glacial lake outbursts'], dtype=object)

In [18]:
# Validate if there are 'other' in new column Natural Disaster
nat_disasters_df_t['Type Summary'].unique()

array(['Number of deaths', 'Number of people injured',
       'Number of people affected', 'Number of people left homeless',
       'Number of total people affected', 'Reconstruction costs',
       'Insured damages', 'Total economic damages', 'Death rates',
       'Injury rates', 'Homelessness rate',
       'Total number of people affected by drought per 100,000',
       'Total number of people affected by earthquakes per 100,000',
       'Total number of people affected by disasters per 100,000',
       'Total number of people affected by volcanic activity per 100,000',
       'Total number of people affected by floods per 100,000',
       'Total number of people affected by mass movements per 100,000',
       'Total number of people affected by storms per 100,000',
       'Total number of people affected by landslides per 100,000',
       'Total number of people affected by fog per 100,000',
       'Total number of people affected by wildfires per 100,000',
       'Total number of people affected by extreme temperatures per 100,000',
       'Total number of people affected by glacial lake outbursts per 100,000',
       'Total Damages percent GDP'], dtype=object)

In [19]:
# Standardizing to Total number of people affected per 100K
nat_disasters_df_t['Type Summary'] = nat_disasters_df_t['Type Summary'].str.replace('Total number of people affected by drought per 100,000|Total number of people affected by earthquakes per 100,000|Total number of people affected by disasters per 100,000|Total number of people affected by volcanic activity per 100,000|Total number of people affected by floods per 100,000|Total number of people affected by floods per 100,000|Total number of people affected by mass movements per 100,000|Total number of people affected by storms per 100,000|Total number of people affected by landslides per 100,000|Total number of people affected by fog per 100,000|Total number of people affected by wildfires per 100,000|Total number of people affected by extreme temperatures per 100,000|Total number of people affected by glacial lake outbursts per 100,000','Total number of people affected per 100,000', regex=True)
nat_disasters_df_t['Type Summary'].unique()

array(['Number of deaths', 'Number of people injured',
       'Number of people affected', 'Number of people left homeless',
       'Number of total people affected', 'Reconstruction costs',
       'Insured damages', 'Total economic damages', 'Death rates',
       'Injury rates', 'Homelessness rate',
       'Total number of people affected per 100,000',
       'Total Damages percent GDP'], dtype=object)

In [20]:
nat_disasters_df_f = nat_disasters_df_t[['Entity', 'Year', 'Natural Disaster', 'Type Summary', 'Type', 'Data']]
nat_disasters_df_f.head(3)

,Entity,Year,Natural Disaster,Type Summary,Type,Data
0,Afghanistan,1971,drought,Number of deaths,Number of deaths from drought,0.0
1,Afghanistan,1972,drought,Number of deaths,Number of deaths from drought,NaN
2,Afghanistan,1976,drought,Number of deaths,Number of deaths from drought,NaN

In [21]:
nat_disasters_df_f.to_csv('../csv/natural_disasters.csv', index = False)