In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
#File name into variable
nat_disasters= '../resources/natural-disasters.csv'

In [3]:
# Reading csv to DF
nat_disasters_df = pd.read_csv(nat_disasters)

In [4]:
# Viewing data frame
nat_disasters_df.head(3)

,Number of deaths from drought,Number of people injured from drought,Number of people affected from drought,Number of people left homeless from drought,Number of total people affected by drought,Reconstruction costs from drought,Insured damages against drought,Total economic damages from drought,Death rates from drought,Injury rates from drought,...,Total economic damages from extreme temperatures as a share of GDP,Total economic damages from floods as a share of GDP,Total economic damages from landslides as a share of GDP,Total economic damages from mass movements as a share of GDP,Total economic damages from storms as a share of GDP,Total economic damages from volcanic activity as a share of GDP,Total economic damages from volcanic activity as a share of GDP.1,Entity,Year,total_damages_pct_gdp_glacial_lake
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,1954,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,1956,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Afghanistan,1963,NaN

In [5]:
# Shape of DF
nat_disasters_df.shape

(5569, 169)

In [6]:
# Filter data for Year between 1970 and 2020
nat_disasters_df_c = nat_disasters_df[(nat_disasters_df['Year'] >= 1970) & (nat_disasters_df['Year'] <= 2020)]

In [7]:
#Checking shape after year filter
nat_disasters_df_c.shape

(4540, 169)

In [8]:
# Check if Total economic damages from volcanic activity as a share of GDP and Total economic damages from volcanic activity as a share of GDP.1 are equal
nat_disasters_df['Total economic damages from volcanic activity as a share of GDP'].equals(nat_disasters_df['Total economic damages from volcanic activity as a share of GDP.1'])

False

In [9]:
# Statistics of GDP column
nat_disasters_df['Total economic damages from volcanic activity as a share of GDP'].describe()

count    228.000000
mean       0.061460
std        0.313755
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000862
max        2.865788
Name: Total economic damages from volcanic activity as a share of GDP, dtype: float64

In [10]:
# Statistics of GDP.1 column
nat_disasters_df['Total economic damages from volcanic activity as a share of GDP.1'].describe()

count    377.000000
mean       0.486609
std        6.719902
min        0.000000
25%        0.000000
50%        0.000000
75%        0.014476
max      127.277641
Name: Total economic damages from volcanic activity as a share of GDP.1, dtype: float64

In [11]:
#Viewing the column names to create columns to summarize
nat_disasters_df_c.columns.tolist()

['Number of deaths from drought',
 'Number of people injured from drought',
 'Number of people affected from drought',
 'Number of people left homeless from drought',
 'Number of total people affected by drought',
 'Reconstruction costs from drought',
 'Insured damages against drought',
 'Total economic damages from drought',
 'Death rates from drought',
 'Injury rates from drought',
 'Number of people affected by drought per 100,000',
 'Homelessness rate from drought',
 'Total number of people affected by drought per 100,000',
 'Number of deaths from earthquakes',
 'Number of people injured from earthquakes',
 'Number of people affected by earthquakes',
 'Number of people left homeless from earthquakes',
 'Number of total people affected by earthquakes',
 'Reconstruction costs from earthquakes',
 'Insured damages against earthquakes',
 'Total economic damages from earthquakes',
 'Death rates from earthquakes',
 'Injury rates from earthquakes',
 'Number of people affected by earthquakes per 100,000',
 'Homelessness rate from earthquakes',
 'Total number of people affected by earthquakes per 100,000',
 'Number of deaths from disasters',
 'Number of people injured from disasters',
 'Number of people affected by disasters',
 'Number of people left homeless from disasters',
 'Number of total people affected by disasters',
 'Reconstruction costs from disasters',
 'Insured damages against disasters',
 'Total economic damages from disasters',
 'Death rates from disasters',
 'Injury rates from disasters',
 'Number of people affected by disasters per 100,000',
 'Homelessness rate from disasters',
 'Total number of people affected by disasters per 100,000',
 'Number of deaths from volcanic activity',
 'Number of people injured from volcanic activity',
 'Number of people affected by volcanic activity',
 'Number of people left homeless from volcanic activity',
 'Number of total people affected by volcanic activity',
 'Reconstruction costs from volcanic activity',
 'Insured damages against volcanic activity',
 'Total economic damages from volcanic activity',
 'Death rates from volcanic activity',
 'Injury rates from volcanic activity',
 'Number of people affected by volcanic activity per 100,000',
 'Homelessness rate from volcanic activity',
 'Total number of people affected by volcanic activity per 100,000',
 'Number of deaths from floods',
 'Number of people injured from floods',
 'Number of people affected by floods',
 'Number of people left homeless from floods',
 'Number of total people affected by floods',
 'Reconstruction costs from floods',
 'Insured damages against floods',
 'Total economic damages from floods',
 'Death rates from floods',
 'Injury rates from floods',
 'Number of people affected by floods per 100,000',
 'Homelessness rate from floods',
 'Total number of people affected by floods per 100,000',
 'Number of deaths from mass movements',
 'Number of people injured from mass movements',
 'Number of people affected by mass movements',
 'Number of people left homeless from mass movements',
 'Number of total people affected by mass movements',
 'Reconstruction costs from mass movements',
 'Insured damages against mass movements',
 'Total economic damages from mass movements',
 'Death rates from mass movements',
 'Injury rates from mass movements',
 'Number of people affected by mass movements per 100,000',
 'Homelessness rate from mass movements',
 'Total number of people affected by mass movements per 100,000',
 'Number of deaths from storms',
 'Number of people injured from storms',
 'Number of people affected by storms',
 'Number of people left homeless from storms',
 'Number of total people affected by storms',
 'Reconstruction costs from storms',
 'Insured damages against storms',
 'Total economic damages from storms',
 'Death rates from storms',
 'Injury rates from storms',
 'Number of people affected by storms per 100,000',
 'Homelessness rate from storms',
 'Total number of people affected by storms per 100,000',
 'Number of deaths from landslides',
 'Number of people injured from landslides',
 'Number of people affected by landslides',
 'Number of people left homeless from landslides',
 'Number of total people affected by landslides',
 'Reconstruction costs from landslides',
 'Insured damages against landslides',
 'Total economic damages from landslides',
 'Death rates from landslides',
 'Injury rates from landslides',
 'Number of people affected by landslides per 100,000',
 'Homelessness rate from landslides',
 'Total number of people affected by landslides per 100,000',
 'Number of deaths from fog',
 'Number of people injured from fog',
 'Number of people affected by fog',
 'Number of people left homeless from fog',
 'Number of total people affected by fog',
 'Reconstruction costs from fog',
 'Insured damages against fog',
 'Total economic damages from fog',
 'Death rates from fog',
 'Injury rates from fog',
 'Number of people affected by fog per 100,000',
 'Homelessness rate from fog',
 'Total number of people affected by fog per 100,000',
 'Number of deaths from wildfires',
 'Number of people injured from wildfires',
 'Number of people affected by wildfires',
 'Number of people left homeless from wildfires',
 'Number of total people affected by wildfires',
 'Reconstruction costs from wildfires',
 'Insured damages against wildfires',
 'Total economic damages from wildfires',
 'Death rates from wildfires',
 'Injury rates from wildfires',
 'Number of people affected by wildfires per 100,000',
 'Homelessness rate from wildfires',
 'Total number of people affected by wildfires per 100,000',
 'Number of deaths from extreme temperatures',
 'Number of people injured from extreme temperatures',
 'Number of people affected by extreme temperatures',
 'Number of people left homeless from extreme temperatures',
 'Number of total people affected by extreme temperatures',
 'Reconstruction costs from extreme temperatures',
 'Insured damages against extreme temperatures',
 'Total economic damages from extreme temperatures',
 'Death rates from extreme temperatures',
 'Injury rates from extreme temperatures',
 'Number of people affected by extreme temperatures per 100,000',
 'Homelessness rate from extreme temperatures',
 'Total number of people affected by extreme temperatures per 100,000',
 'Number of deaths from glacial lake outbursts',
 'Number of people injured from glacial lake outbursts',
 'Number of people affected by glacial lake outbursts',
 'Number of people left homeless from glacial lake outbursts',
 'Number of total people affected by glacial lake outbursts',
 'Reconstruction costs from glacial lake outbursts',
 'Insured damages against glacial lake outbursts',
 'Total economic damages from glacial lake outbursts',
 'Death rates from glacial lake outbursts',
 'Injury rates from glacial lake outbursts',
 'Number of people affected by glacial lake outbursts per 100,000',
 'Homelessness rate from glacial lake outbursts',
 'Total number of people affected by glacial lake outbursts per 100,000',
 'Total economic damages from disasters as a share of GDP',
 'Total economic damages from drought as a share of GDP',
 'Total economic damages from earthquakes as a share of GDP',
 'Total economic damages from extreme temperatures as a share of GDP',
 'Total economic damages from floods as a share of GDP',
 'Total economic damages from landslides as a share of GDP',
 'Total economic damages from mass movements as a share of GDP',
 'Total economic damages from storms as a share of GDP',
 'Total economic damages from volcanic activity as a share of GDP',
 'Total economic damages from volcanic activity as a share of GDP.1',
 'Entity',
 'Year',
 'total_damages_pct_gdp_glacial_lake']

In [12]:
# Renaming column to standardize naming convention
nat_disasters_df_c
nat_disasters_df_c = nat_disasters_df_c.rename(columns= {'total_damages_pct_gdp_glacial_lake': 'Total economic damages from glacial lake outbursts as a share of GDP'})

In [13]:
# Using melt to tranform from wide to long df
nat_disasters_df_t = nat_disasters_df_c.melt(id_vars=['Entity', 'Year'],
                    var_name='Type', value_name="Data")
nat_disasters_df_t.head(3)

        Entity  Year                           Type  Data
0  Afghanistan  1971  Number of deaths from drought   0.0
1  Afghanistan  1972  Number of deaths from drought   NaN
2  Afghanistan  1976  Number of deaths from drought   NaN

In [14]:
# Map Type with summary column
values= ['disasters', 'drought', 'earthquakes', 'extreme temperatures', 'floods', 'fog', 'glacial lake outbursts', 'landslide', 'mass movements', 'storms', 'volcanic', 'wildfires']
conditions = list(map(nat_disasters_df_t['Type'].str.contains, values))
nat_disasters_df_t['Natural Disaster'] = np.select(conditions, values, 'other')
nat_disasters_df_t['Natural Disaster'].unique()

array(['drought', 'earthquakes', 'disasters', 'volcanic', 'floods',
       'mass movements', 'storms', 'landslide', 'fog', 'wildfires',
       'extreme temperatures', 'glacial lake outbursts'], dtype=object)

## Disasters selected 
drought, floods, storms, wildfires, extreme temperatures

In [15]:
# Map Type with Type_summary column for
#'Death rates', 'Homelessness rate', 'Injury rates', 'Insured damages', 'Number of deaths', 'Number of total people affected' ,'Number of people injured', 'Number of people left homeless','Reconstruction costs'
values= ['Death rates', 'Homelessness rate', 'Injury rates', 'Insured damages', 'Number of deaths', 'Number of total people affected' ,'Number of people injured', 'Number of people left homeless','Reconstruction costs',
        'Number of people affected by disasters per 100,000','Number of people affected by drought per 100,000','Number of people affected by earthquakes per 100,000','Number of people affected by extreme temperatures per 100,000','Number of people affected by floods per 100,000','Number of people affected by fog per 100,000','Number of people affected by glacial lake outbursts per 100,000','Number of people affected by landslides per 100,000','Number of people affected by mass movements per 100,000','Number of people affected by storms per 100,000','Number of people affected by volcanic activity per 100,000','Number of people affected by wildfires per 100,000',
        'Number of people affected by disasters','Number of people affected from drought','Number of people affected by earthquakes','Number of people affected by extreme temperatures','Number of people affected by floods','Number of people affected by fog','Number of people affected by glacial lake outbursts','Number of people affected by landslides','Number of people affected by mass movements','Number of people affected by storms','Number of people affected by volcanic activity','Number of people affected by wildfires',
         'Total economic damages from volcanic activity as a share of GDP.1',
         'Total economic damages from disasters as a share of GDP','Total economic damages from drought as a share of GDP','Total economic damages from earthquakes as a share of GDP','Total economic damages from extreme temperatures as a share of GDP','Total economic damages from floods as a share of GDP','Total economic damages from landslides as a share of GDP','Total economic damages from mass movements as a share of GDP','Total economic damages from storms as a share of GDP','Total economic damages from volcanic activity as a share of GDP',
         'Total economic damages from disasters','Total economic damages from drought','Total economic damages from earthquakes','Total economic damages from extreme temperatures','Total economic damages from floods','Total economic damages from fog','Total economic damages from glacial lake outbursts','Total economic damages from landslides','Total economic damages from mass movements','Total economic damages from storms','Total economic damages from volcanic activity','Total economic damages from wildfires',
         'Total number of people affected by disasters per 100,000','Total number of people affected by drought per 100,000','Total number of people affected by earthquakes per 100,000','Total number of people affected by extreme temperatures per 100,000','Total number of people affected by floods per 100,000','Total number of people affected by fog per 100,000','Total number of people affected by glacial lake outbursts per 100,000','Total number of people affected by landslides per 100,000','Total number of people affected by mass movements per 100,000','Total number of people affected by storms per 100,000','Total number of people affected by volcanic activity per 100,000','Total number of people affected by wildfires per 100,000'
        ]
conditions = list(map(nat_disasters_df_t['Type'].str.contains, values))
nat_disasters_df_t['Type Summary'] = np.select(conditions, values, 'other')
nat_disasters_df_t['Type Summary'].unique()

array(['Number of deaths', 'Number of people injured',
       'Number of people affected from drought',
       'Number of people left homeless',
       'Number of total people affected', 'Reconstruction costs',
       'Insured damages', 'Total economic damages from drought',
       'Death rates', 'Injury rates',
       'Number of people affected by drought per 100,000',
       'Homelessness rate',
       'Total number of people affected by drought per 100,000',
       'Number of people affected by earthquakes',
       'Total economic damages from earthquakes',
       'Number of people affected by earthquakes per 100,000',
       'Total number of people affected by earthquakes per 100,000',
       'Number of people affected by disasters',
       'Total economic damages from disasters',
       'Number of people affected by disasters per 100,000',
       'Total number of people affected by disasters per 100,000',
       'Number of people affected by volcanic activity',
       'Total economic damages from volcanic activity',
       'Number of people affected by volcanic activity per 100,000',
       'Total number of people affected by volcanic activity per 100,000',
       'Number of people affected by floods',
       'Total economic damages from floods',
       'Number of people affected by floods per 100,000',
       'Total number of people affected by floods per 100,000',
       'Number of people affected by mass movements',
       'Total economic damages from mass movements',
       'Number of people affected by mass movements per 100,000',
       'Total number of people affected by mass movements per 100,000',
       'Number of people affected by storms',
       'Total economic damages from storms',
       'Number of people affected by storms per 100,000',
       'Total number of people affected by storms per 100,000',
       'Number of people affected by landslides',
       'Total economic damages from landslides',
       'Number of people affected by landslides per 100,000',
       'Total number of people affected by landslides per 100,000',
       'Number of people affected by fog',
       'Total economic damages from fog',
       'Number of people affected by fog per 100,000',
       'Total number of people affected by fog per 100,000',
       'Number of people affected by wildfires',
       'Total economic damages from wildfires',
       'Number of people affected by wildfires per 100,000',
       'Total number of people affected by wildfires per 100,000',
       'Number of people affected by extreme temperatures',
       'Total economic damages from extreme temperatures',
       'Number of people affected by extreme temperatures per 100,000',
       'Total number of people affected by extreme temperatures per 100,000',
       'Number of people affected by glacial lake outbursts',
       'Total economic damages from glacial lake outbursts',
       'Number of people affected by glacial lake outbursts per 100,000',
       'Total number of people affected by glacial lake outbursts per 100,000',
       'Total economic damages from disasters as a share of GDP',
       'Total economic damages from drought as a share of GDP',
       'Total economic damages from earthquakes as a share of GDP',
       'Total economic damages from extreme temperatures as a share of GDP',
       'Total economic damages from floods as a share of GDP',
       'Total economic damages from landslides as a share of GDP',
       'Total economic damages from mass movements as a share of GDP',
       'Total economic damages from storms as a share of GDP',
       'Total economic damages from volcanic activity as a share of GDP',
       'Total economic damages from volcanic activity as a share of GDP.1'],
      dtype=object)

In [16]:
# Standardizing Type Summary 'Number of people affected per 100,000'
nat_disasters_df_t['Type Summary'] = nat_disasters_df_t['Type Summary'].str.replace('Number of people affected by disasters per 100,000|Number of people affected by drought per 100,000|Number of people affected by earthquakes per 100,000|Number of people affected by extreme temperatures per 100,000|Number of people affected by floods per 100,000|Number of people affected by fog per 100,000|Number of people affected by glacial lake outbursts per 100,000|Number of people affected by landslides per 100,000|Number of people affected by mass movements per 100,000|Number of people affected by storms per 100,000|Number of people affected by volcanic activity per 100,000|Number of people affected by wildfires per 100,000','Number of people affected per 100,000', regex=True)
# Standardizing Type Summary 'Number of people affected'
nat_disasters_df_t['Type Summary'] = nat_disasters_df_t['Type Summary'].str.replace('Number of people affected by disasters|Number of people affected from drought|Number of people affected by earthquakes|Number of people affected by extreme temperatures|Number of people affected by floods|Number of people affected by fog|Number of people affected by glacial lake outbursts|Number of people affected by landslides|Number of people affected by mass movements|Number of people affected by storms|Number of people affected by volcanic activity|Number of people affected by wildfires','Number of people affected', regex=True)
# Standardizing Type Summary 'Total economic damages from volcanic activity as a share of GDP_1'
nat_disasters_df_t['Type Summary'] = nat_disasters_df_t['Type Summary'].str.replace('Total economic damages from volcanic activity as a share of GDP.1','Total economic damages from volcanic activity as a share of GDP_1', regex=True)
# Standardizing Type Summary 'Total economic damages as a share of GDP'
nat_disasters_df_t['Type Summary'] = nat_disasters_df_t['Type Summary'].str.replace('Total economic damages from disasters as a share of GDP|Total economic damages from drought as a share of GDP|Total economic damages from earthquakes as a share of GDP|Total economic damages from extreme temperatures as a share of GDP|Total economic damages from floods as a share of GDP|Total economic damages from landslides as a share of GDP|Total economic damages from mass movements as a share of GDP|Total economic damages from storms as a share of GDP|Total economic damages from glacial lake outbursts as a share of GDP','Total economic damages as a share of GDP', regex=True)

# Standardizing to Total number of people affected per 100K
nat_disasters_df_t['Type Summary'] = nat_disasters_df_t['Type Summary'].str.replace('Total number of people affected by drought per 100,000|Total number of people affected by earthquakes per 100,000|Total number of people affected by disasters per 100,000|Total number of people affected by volcanic activity per 100,000|Total number of people affected by floods per 100,000|Total number of people affected by floods per 100,000|Total number of people affected by mass movements per 100,000|Total number of people affected by storms per 100,000|Total number of people affected by landslides per 100,000|Total number of people affected by fog per 100,000|Total number of people affected by wildfires per 100,000|Total number of people affected by extreme temperatures per 100,000|Total number of people affected by glacial lake outbursts per 100,000','Total number of people affected per 100,000', regex=True)

# Standardizing to Total economic damages
nat_disasters_df_t['Type Summary'] = nat_disasters_df_t['Type Summary'].str.replace('Total economic damages from drought|Total economic damages from earthquakes|Total economic damages from disasters|Total economic damages from volcanic activity|Total economic damages from floods|Total economic damages from mass movements|Total economic damages from storms|Total economic damages from landslides|Total economic damages from fog|Total economic damages from wildfires|Total economic damages from extreme temperatures|Total economic damages from glacial lake outbursts','Total economic damages', regex=True)
# Validating that there are 15 columns
nat_disasters_df_t['Type Summary'].unique()

array(['Number of deaths', 'Number of people injured',
       'Number of people affected', 'Number of people left homeless',
       'Number of total people affected', 'Reconstruction costs',
       'Insured damages', 'Total economic damages', 'Death rates',
       'Injury rates', 'Number of people affected per 100,000',
       'Homelessness rate', 'Total number of people affected per 100,000',
       'Total economic damages as a share of GDP',
       'Total economic damages as a share of GDP_1'], dtype=object)

In [17]:
# Looking at the frist 3 rows 
nat_disasters_df_t.head(3)

,Entity,Year,Type,Data,Natural Disaster,Type Summary
0,Afghanistan,1971,Number of deaths from drought,0.0,drought,Number of deaths
1,Afghanistan,1972,Number of deaths from drought,NaN,drought,Number of deaths
2,Afghanistan,1976,Number of deaths from drought,NaN,drought,Number of deaths

In [18]:
# Validate if there are 'other' in new column Natural Disaster
nat_disasters_df_t['Natural Disaster'].unique()

array(['drought', 'earthquakes', 'disasters', 'volcanic', 'floods',
       'mass movements', 'storms', 'landslide', 'fog', 'wildfires',
       'extreme temperatures', 'glacial lake outbursts'], dtype=object)

In [19]:
# Keeping the relevant columns only
nat_disasters_df_f = nat_disasters_df_t[['Entity', 'Year', 'Natural Disaster', 'Type', 'Type Summary','Data']]
nat_disasters_df_f.head(3)

,Entity,Year,Natural Disaster,Type,Type Summary,Data
0,Afghanistan,1971,drought,Number of deaths from drought,Number of deaths,0.0
1,Afghanistan,1972,drought,Number of deaths from drought,Number of deaths,NaN
2,Afghanistan,1976,drought,Number of deaths from drought,Number of deaths,NaN

In [20]:
# Looking at the shape 
nat_disasters_df_f.shape

(758180, 6)

In [21]:
# Checking for NaN values
nat_disasters_df_f.isna().sum()

Entity                   0
Year                     0
Natural Disaster         0
Type                     0
Type Summary             0
Data                585398
dtype: int64

In [22]:
# Making natural disasters the index to filter relevant disasters
nat_disasters_df_f.set_index('Natural Disaster')

,Entity,Year,Type,Type Summary,Data
Natural Disaster,,,,,
drought,Afghanistan,1971,Number of deaths from drought,Number of deaths,0.0
drought,Afghanistan,1972,Number of deaths from drought,Number of deaths,NaN
drought,Afghanistan,1976,Number of deaths from drought,Number of deaths,NaN
drought,Afghanistan,1978,Number of deaths from drought,Number of deaths,NaN
drought,Afghanistan,1980,Number of deaths from drought,Number of deaths,NaN
...,...,...,...,...,...
glacial lake outbursts,Zimbabwe,2014,Total economic damages from glacial lake outbu...,Total economic damages,NaN
glacial lake outbursts,Zimbabwe,2015,Total economic damages from glacial lake outbu...,Total economic damages,NaN
glacial lake outbursts,Zimbabwe,2016,Total economic damages from glacial lake outbu...,Total economic damages,NaN
glacial lake outbursts,Zimbabwe,2017,Total economic damages from glacial lake outbu...,Total economic damages,NaN
glacial lake outbursts,Zimbabwe,2019,Total economic damages from glacial lake outbu...,Total economic damages,NaN

In [23]:
# Selecting only disasters based on temperature changes: drought, floods, storms, wildfires, extreme temperatures
filter_nat_disasters = ['drought','floods','storms', 'wildfires','extreme temperatures']
nat_disasters_filtered = nat_disasters_df_f[nat_disasters_df_f['Natural Disaster'].isin(filter_nat_disasters)]
nat_disasters_filtered.shape

(313260, 6)

In [24]:
nat_disasters_filtered['Natural Disaster'].unique()

array(['drought', 'floods', 'storms', 'wildfires', 'extreme temperatures'],
      dtype=object)

In [25]:
# Selecting variables 'Total economic damages as a share of GDP' 'Total economic damages' 'Number of people affected per 100,000' 'Number of deaths'
filtered_values = ['Total economic damages as a share of GDP','Total economic damages', 'Number of people affected per 100,000', 'Number of deaths']
nat_disasters_filtered = nat_disasters_filtered[nat_disasters_filtered['Type Summary'].isin(filtered_values)]
nat_disasters_filtered.shape

(86260, 6)

In [26]:
nat_disasters_filtered['Type Summary'].unique()

array(['Number of deaths', 'Total economic damages',
       'Number of people affected per 100,000',
       'Total economic damages as a share of GDP'], dtype=object)

In [27]:
nat_disasters_filtered.isna().sum()

Entity                  0
Year                    0
Natural Disaster        0
Type                    0
Type Summary            0
Data                61818
dtype: int64

In [28]:
#Fill NaN with 0 in Data
nat_disasters_filtered['Data'] = nat_disasters_filtered['Data'].fillna(0)
nat_disasters_filtered.isna().sum()

Entity              0
Year                0
Natural Disaster    0
Type                0
Type Summary        0
Data                0
dtype: int64

In [29]:
nat_disasters_filtered['Type'].unique()

array(['Number of deaths from drought',
       'Total economic damages from drought',
       'Number of people affected by drought per 100,000',
       'Number of deaths from floods',
       'Total economic damages from floods',
       'Number of people affected by floods per 100,000',
       'Number of deaths from storms',
       'Total economic damages from storms',
       'Number of people affected by storms per 100,000',
       'Number of deaths from wildfires',
       'Total economic damages from wildfires',
       'Number of people affected by wildfires per 100,000',
       'Number of deaths from extreme temperatures',
       'Total economic damages from extreme temperatures',
       'Number of people affected by extreme temperatures per 100,000',
       'Total economic damages from drought as a share of GDP',
       'Total economic damages from extreme temperatures as a share of GDP',
       'Total economic damages from floods as a share of GDP',
       'Total economic damages from storms as a share of GDP'],
      dtype=object)

In [30]:
# Long to wide df for analysis
nat_disasters_long_to_wide = nat_disasters_filtered.pivot_table(values='Data', index = ['Entity','Year',], columns='Type')

In [31]:
# Selecting variables 'Total economic damages as a share of GDP' 'Total economic damages' 'Number of people affected per 100,000' 'Number of deaths'

# Avg of Total economic damages as a share of GDP
share_GDP_col = ['Total economic damages from drought as a share of GDP','Total economic damages from floods as a share of GDP', 'Total economic damages from storms as a share of GDP','Total economic damages from extreme temperatures as a share of GDP']
nat_disasters_long_to_wide['Total economic damages as a share of GDP'] = nat_disasters_long_to_wide[share_GDP_col].mean(axis=1)


# Sum of Total economic damages
ttl_economic_damages = ['Total economic damages from drought', 'Total economic damages from floods', 'Total economic damages from storms', 'Total economic damages from wildfires', 'Total economic damages from extreme temperatures']
nat_disasters_long_to_wide["Total economic damages (000'USD)"] = nat_disasters_long_to_wide[ttl_economic_damages].sum(axis=1)

# Sum of Number of people affected per 100,000
nbr_ppl_affected = ['Number of people affected by drought per 100,000','Number of people affected by floods per 100,000','Number of people affected by storms per 100,000','Number of people affected by wildfires per 100,000','Total economic damages from extreme temperatures' ]
nat_disasters_long_to_wide["Number of people affected per 100,000"] = nat_disasters_long_to_wide[nbr_ppl_affected].sum(axis=1)


# Sum Number of deaths
nbr_deaths = ['Number of deaths from drought','Number of deaths from floods','Number of deaths from storms','Number of deaths from wildfires','Number of deaths from extreme temperatures']
nat_disasters_long_to_wide["Number of deaths"] = nat_disasters_long_to_wide[nbr_deaths].sum(axis=1)
nat_disasters_long_to_wide.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4540 entries, ('Afghanistan', 1971) to ('Zimbabwe', 2019)
Data columns (total 23 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   Number of deaths from drought                                       4540 non-null   float64
 1   Number of deaths from extreme temperatures                          4540 non-null   float64
 2   Number of deaths from floods                                        4540 non-null   float64
 3   Number of deaths from storms                                        4540 non-null   float64
 4   Number of deaths from wildfires                                     4540 non-null   float64
 5   Number of people affected by drought per 100,000                    4540 non-null   float64
 6   Number of people affected by extreme temperatures per 100,000       4540 non-null   float64
 7   Number of people affected by floods per 100,000                     4540 non-null   float64
 8   Number of people affected by storms per 100,000                     4540 non-null   float64
 9   Number of people affected by wildfires per 100,000                  4540 non-null   float64
 10  Total economic damages from drought                                 4540 non-null   float64
 11  Total economic damages from drought as a share of GDP               4540 non-null   float64
 12  Total economic damages from extreme temperatures                    4540 non-null   float64
 13  Total economic damages from extreme temperatures as a share of GDP  4540 non-null   float64
 14  Total economic damages from floods                                  4540 non-null   float64
 15  Total economic damages from floods as a share of GDP                4540 non-null   float64
 16  Total economic damages from storms                                  4540 non-null   float64
 17  Total economic damages from storms as a share of GDP                4540 non-null   float64
 18  Total economic damages from wildfires                               4540 non-null   float64
 19  Total economic damages as a share of GDP                            4540 non-null   float64
 20  Total economic damages (000'USD)                                    4540 non-null   float64
 21  Number of people affected per 100,000                               4540 non-null   float64
 22  Number of deaths                                                    4540 non-null   float64
dtypes: float64(23)
memory usage: 831.3+ KB

In [32]:
# Shape of long to wide
nat_disasters_long_to_wide.shape

(4540, 23)

In [33]:
# statistical data 
nat_disasters_long_to_wide.describe()

Type,Number of deaths from drought,Number of deaths from extreme temperatures,Number of deaths from floods,Number of deaths from storms,Number of deaths from wildfires,"Number of people affected by drought per 100,000","Number of people affected by extreme temperatures per 100,000","Number of people affected by floods per 100,000","Number of people affected by storms per 100,000","Number of people affected by wildfires per 100,000",...,Total economic damages from extreme temperatures as a share of GDP,Total economic damages from floods,Total economic damages from floods as a share of GDP,Total economic damages from storms,Total economic damages from storms as a share of GDP,Total economic damages from wildfires,Total economic damages as a share of GDP,Total economic damages (000'USD),"Number of people affected per 100,000",Number of deaths
count,4540.000000,4540.000000,4540.000000,4540.000000,4540.000000,4540.000000,4540.000000,4540.000000,4540.000000,4540.000000,...,4540.000000,4.540000e+03,4540.000000,4.540000e+03,4540.000000,4.540000e+03,4540.000000,4.540000e+03,4.540000e+03,4540.000000
mean,308.711013,83.029515,144.468282,359.428634,1.251101,1455.113048,51.137771,656.030203,880.589200,14.707061,...,0.007394,3.837473e+05,0.118508,6.981734e+05,0.696536,5.237479e+04,0.214441,1.242870e+06,3.056871e+04,896.888546
std,8906.295440,1709.705434,1185.259447,7645.690465,11.515402,7975.755357,1109.315366,2806.320889,6134.598823,723.872675,...,0.268190,2.925302e+06,1.087157,7.374071e+06,8.276416,7.039741e+05,2.087685,1.004561e+07,5.222121e+05,12132.353699
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.330416,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,5.297976e+01,7.000000
75%,0.000000,0.000000,20.000000,4.000000,0.000000,0.000000,0.000000,150.426560,0.000000,0.000000,...,0.000000,5.000000e+02,0.000093,0.000000e+00,0.000000,0.000000e+00,0.015449,6.226025e+04,1.036035e+03,48.000000
max,450020.000000,74698.000000,34807.000000,304495.000000,266.000000,120967.741935,48169.556840,52369.730296,106382.978723,48426.150121,...,16.274852,7.075905e+07,56.383921,2.729390e+08,280.087777,2.280200e+07,70.021944,3.163221e+08,2.194313e+07,456069.000000

In [34]:
nat_disasters_long_to_wide.head(5)

Type              Number of deaths from drought  \
Entity      Year
Afghanistan 1971                            0.0
            1972                            0.0
            1976                            0.0
            1978                            0.0
            1980                            0.0

Type              Number of deaths from extreme temperatures  \
Entity      Year
Afghanistan 1971                                         0.0
            1972                                         0.0
            1976                                         0.0
            1978                                         0.0
            1980                                         0.0

Type              Number of deaths from floods  Number of deaths from storms  \
Entity      Year
Afghanistan 1971                           0.0                           0.0
            1972                         150.0                           0.0
            1976                          51.0                           0.0
            1978                         120.0                           0.0
            1980                           0.0                           0.0

Type              Number of deaths from wildfires  \
Entity      Year
Afghanistan 1971                              0.0
            1972                              0.0
            1976                              0.0
            1978                              0.0
            1980                              0.0

Type              Number of people affected by drought per 100,000  \
Entity      Year
Afghanistan 1971                                               0.0
            1972                                               0.0
            1976                                               0.0
            1978                                               0.0
            1980                                               0.0

Type              Number of people affected by extreme temperatures per 100,000  \
Entity      Year
Afghanistan 1971                                                0.0
            1972                                                0.0
            1976                                                0.0
            1978                                                0.0
            1980                                                0.0

Type              Number of people affected by floods per 100,000  \
Entity      Year
Afghanistan 1971                                         0.000000
            1972                                      2120.261216
            1976                                       618.094723
            1978                                      1979.191965
            1980                                       224.601333

Type              Number of people affected by storms per 100,000  \
Entity      Year
Afghanistan 1971                                              0.0
            1972                                              0.0
            1976                                              0.0
            1978                                              0.0
            1980                                              0.0

Type              Number of people affected by wildfires per 100,000  ...  \
Entity      Year                                                      ...
Afghanistan 1971                                                0.0   ...
            1972                                                0.0   ...
            1976                                                0.0   ...
            1978                                                0.0   ...
            1980                                                0.0   ...

Type              Total economic damages from extreme temperatures as a share of GDP  \
Entity      Year
Afghanistan 1971                                                0.0
            1972                                                0.0
            1976                                                0.0
            1978                                                0.0
            1980                                                0.0

Type              Total economic damages from floods  \
Entity      Year
Afghanistan 1971                                 0.0
            1972                                 0.0
            1976                                 0.0
            1978                             52000.0
            1980                                 0.0

Type              Total economic damages from floods as a share of GDP  \
Entity      Year
Afghanistan 1971                                           0.000000
            1972                                           0.000000
            1976                                           0.000000
            1978                                           1.575758
            1980                                           0.000000

Type              Total economic damages from storms  \
Entity      Year
Afghanistan 1971                                 0.0
            1972                                 0.0
            1976                                 0.0
            1978                                 0.0
            1980                                 0.0

Type              Total economic damages from storms as a share of GDP  \
Entity      Year
Afghanistan 1971                                                0.0
            1972                                                0.0
            1976                                                0.0
            1978                                                0.0
            1980                                                0.0

Type              Total economic damages from wildfires  \
Entity      Year
Afghanistan 1971                                    0.0
            1972                                    0.0
            1976                                    0.0
            1978                                    0.0
            1980                                    0.0

Type              Total economic damages as a share of GDP  \
Entity      Year
Afghanistan 1971                                  0.000000
            1972                                  0.000000
            1976                                  0.000000
            1978                                  0.393939
            1980                                  0.000000

Type              Total economic damages (000'USD)  \
Entity      Year
Afghanistan 1971                               0.0
            1972                               0.0
            1976                               0.0
            1978                           52000.0
            1980                               0.0

Type              Number of people affected per 100,000  Number of deaths
Entity      Year
Afghanistan 1971                               0.000000               0.0
            1972                            2120.261216             150.0
            1976                             618.094723              51.0
            1978                            1979.191965             120.0
            1980                             224.601333               0.0

[5 rows x 23 columns]

In [35]:
#nat_disasters_long_to_wide.to_csv('../csv/natural_disasters_final.csv')