In [1]:
#Dependencies #Cielo
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#File location
population = '../csv/population.csv'
agriculture = '../csv/agriculture.csv'
gross_domestic_product = '../csv/gdp.csv'

In [3]:
#Import files into DF
pop = pd.read_csv(population)
agr = pd.read_csv(agriculture)
gdp = pd.read_csv(gross_domestic_product)

In [4]:
# View columns of each DF
print(pop.columns)
print(agr.columns)
print(gdp.columns)

Index(['Unnamed: 0', 'Country Name', 'Country Code', 'Year',
       'Population Growth_annual_%', 'Population Total'],
      dtype='object')
Index(['Unnamed: 0', 'Country Name', 'Country Code', 'Year',
       'Value added (US$ at constant 2010 prices)', 'Value added (% of GDP)'],
      dtype='object')
Index(['Unnamed: 0', 'Country Name', 'Country Code', 'Year',
       'Inflation, GDP deflation rate (annual %)'],
      dtype='object')

In [5]:
pop_ctry_code = pop[['Country Name', 'Country Code']]
pop_ctry_code = pop_ctry_code.drop_duplicates()
agr_ctry_code = agr[['Country Name', 'Country Code']]
agr_ctry_code = agr_ctry_code.drop_duplicates()
gdp_ctry_code = gdp[['Country Name', 'Country Code']]
gdp_ctry_code = gdp_ctry_code.drop_duplicates()

In [6]:
# Merging Country Name and Country Code
ctry_code = pop_ctry_code.merge(agr_ctry_code, on=['Country Code', 'Country Name'], suffixes=('_pop', '_agr'), how='outer')
ctry_code_2 = ctry_code.merge(gdp_ctry_code, on=['Country Code', 'Country Name'], suffixes=('_pop_agr', '_gdp'), how='outer')
ctry_code_2.head(3)

  Country Name Country Code
0        Aruba          ABW
1  Afghanistan          AFG
2       Angola          AGO

In [7]:
pop_df = pop.drop(['Unnamed: 0'], axis=1)
agr_df = agr.drop(['Unnamed: 0'], axis=1)
gdp_df = gdp.drop(['Unnamed: 0'], axis=1)

In [8]:
pop_agr = pop_df.merge(agr_df, on=['Country Name', 'Country Code', 'Year'], how='outer')
pop_agr_gdp = pop_agr.merge(gdp_df, on=['Country Name', 'Country Code', 'Year'], how='outer')
pop_agr_gdp.head(3)

,Country Name,Country Code,Year,Population Growth_annual_%,Population Total,Value added (US$ at constant 2010 prices),Value added (% of GDP),"Inflation, GDP deflation rate (annual %)"
0,Aruba,ABW,1970,0.570441,59070.0,NaN,NaN,NaN
1,Afghanistan,AFG,1970,2.536744,11173654.0,NaN,NaN,NaN
2,Angola,AGO,1970,1.482543,5890360.0,NaN,NaN,NaN

In [9]:
pop_agr_gdp.isna().sum()

Country Name                                     0
Country Code                                     0
Year                                             0
Population Growth_annual_%                    8909
Population Total                              8906
Value added (US$ at constant 2010 prices)    13529
Value added (% of GDP)                       12971
Inflation, GDP deflation rate (annual %)     11400
dtype: int64

In [10]:
pop_agr_gdp.describe()

,Year,Population Growth_annual_%,Population Total,Value added (US$ at constant 2010 prices),Value added (% of GDP),"Inflation, GDP deflation rate (annual %)"
count,22287.000000,13378.000000,1.338100e+04,8.758000e+03,9316.000000,10887.000000
mean,1995.000000,1.689334,2.270890e+08,1.078224e+11,14.774857,27.803835
std,14.719932,1.574439,7.398669e+08,3.226173e+11,12.904644,386.376004
min,1970.000000,-10.955149,5.707000e+03,1.986763e+05,0.013622,-31.904748
25%,1982.000000,0.681576,1.057462e+06,8.031106e+08,4.333376,2.390162
50%,1995.000000,1.600366,7.144774e+06,3.611989e+09,11.088087,5.710729
75%,2008.000000,2.572482,4.602541e+07,3.379580e+10,22.460473,10.839256
max,2020.000000,28.041032,7.763933e+09,3.659982e+12,79.042362,26765.858252

In [11]:
#pop_agr_gdp.to_csv('pop_agr_gdp_df.csv')