In [ ]:
#Dependencies #Lau
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#Importing file
temp_chng = 'GitHub_Lau/Resources/FAOSTAT_data_en_8-13-2022.csv'
temp_chng_df = pd.read_csv(temp_chng)

In [ ]:
temp_chng_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15067 entries, 0 to 15066
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       15067 non-null  object
 1   Domain            15067 non-null  object
 2   Area Code (FAO)   15067 non-null  int64
 3   Area              15067 non-null  object
 4   Element Code      15067 non-null  int64
 5   Element           15067 non-null  object
 6   Months Code       15067 non-null  int64
 7   Months            15067 non-null  object
 8   Year Code         15067 non-null  int64
 9   Year              15067 non-null  int64
 10  Unit              13764 non-null  object
 11  Value             13248 non-null  float64
 12  Flag              13764 non-null  object
 13  Flag Description  13764 non-null  object
dtypes: float64(1), int64(5), object(8)
memory usage: 1.6+ MB

In [ ]:
temp_chng_df.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Months Code,Months,Year Code,Year,Unit,Value,Flag,Flag Description
0,ET,Temperature change,2,Afghanistan,7271,Temperature change,7020,Meteorological year,1961,1961,°C,-0.105,Fc,Calculated data
1,ET,Temperature change,2,Afghanistan,7271,Temperature change,7020,Meteorological year,1962,1962,°C,-0.157,Fc,Calculated data
2,ET,Temperature change,2,Afghanistan,7271,Temperature change,7020,Meteorological year,1963,1963,°C,0.852,Fc,Calculated data
3,ET,Temperature change,2,Afghanistan,7271,Temperature change,7020,Meteorological year,1964,1964,°C,-0.743,Fc,Calculated data
4,ET,Temperature change,2,Afghanistan,7271,Temperature change,7020,Meteorological year,1965,1965,°C,-0.211,Fc,Calculated data

In [ ]:
# Checking Columns to drop
col_drop = temp_chng_df[['Domain Code','Domain', 'Element Code', 'Element', 'Months Code', 'Months']].drop_duplicates()
col_drop.to_dict('records')

[{'Domain Code': 'ET',
  'Domain': 'Temperature change',
  'Element Code': 7271,
  'Element': 'Temperature change',
  'Months Code': 7020,
  'Months': 'Meteorological year'}]

In [ ]:
# Difference between Flags
flag_f_desc = temp_chng_df[['Flag', 'Flag Description']].drop_duplicates()
flag_f_desc.to_dict('records')

[{'Flag': 'Fc', 'Flag Description': 'Calculated data'},
 {'Flag': 'NV', 'Flag Description': 'Data not available'},
 {'Flag': nan, 'Flag Description': nan}]

In [ ]:
# Validating if Year Code and Year column are the same
temp_chng_df['Year Code'].equals(temp_chng_df['Year'])

True

In [ ]:
# Rename columns
temp_chng_df = temp_chng_df.rename(columns= {'Value': 'Temp Change (°C)'})
#Removing unecessary columns
temp_chng_df_c = temp_chng_df.drop(['Domain Code', 'Domain', 'Element Code', 'Element', 'Months Code', 'Months', 'Year Code'], axis=1)
temp_chng_df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15067 entries, 0 to 15066
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Area Code (FAO)   15067 non-null  int64
 1   Area              15067 non-null  object
 2   Year              15067 non-null  int64
 3   Unit              13764 non-null  object
 4   Temp Change (°C)  13248 non-null  float64
 5   Flag              13764 non-null  object
 6   Flag Description  13764 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 824.1+ KB

In [ ]:
#Filter years from 1970 to 2020
temp_chng_df_c = temp_chng_df_c[(temp_chng_df_c['Year']>= 1970) & (temp_chng_df_c['Year']<= 2020)]
temp_chng_df_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12597 entries, 9 to 15065
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Area Code (FAO)   12597 non-null  int64
 1   Area              12597 non-null  object
 2   Year              12597 non-null  int64
 3   Unit              11599 non-null  object
 4   Temp Change (°C)  11149 non-null  float64
 5   Flag              11599 non-null  object
 6   Flag Description  11599 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 787.3+ KB

In [ ]:
temp_chng_df_c.head(3)

,Area Code (FAO),Area,Year,Unit,Temp Change (°C),Flag,Flag Description
9,2,Afghanistan,1970,°C,0.898,Fc,Calculated data
10,2,Afghanistan,1971,°C,0.652,Fc,Calculated data
11,2,Afghanistan,1972,°C,-1.089,Fc,Calculated data

In [ ]:
#temp_chng_df_c.to_csv('temp_change.csv')